<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHoa_dWskkVeFEiQQbhwYY0UdA6Lz45Z0</string>
	<key>GCM_SENDER_ID</key>
	<string>353302887560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.literature.literature</string>
	<key>PROJECT_ID</key>
	<string>ram-literature-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>ram-literature-v2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353302887560:ios:b6fd631b286f7c8a50733d</string>
</dict>
</plist>